/1.html
/1.py
/Employees - Copy.csv
/Employees.csv
/import pandas as pd#Import data.py
/latihan bokeh.html
/latihan bokeh.py
/minyak.py
/simpan.py
/tes1.py
/tes1111.py
/tesjason.html
/tesjason.py
/testes.py
/UAS - IF 2112 Pemrograman Komputer - Semester 1 2021_2022 (1).pdf